<div layout="row" layout-wrap>
  <div class="cummunity" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65" style="padding-bottom: 20px;">
    <div class="white-bg md-whiteframe-1dp">

      <header class="md-accent-bg addusr" layout="row" layout-align="space-between center">

        <div class="title"><div class="groupovrvw text-boxed red-bg white-fg m-0">
           <md-button ng-if="vm.contacts" class="md-raised md-accent" aria-label="MEMBERS">
                {{vm.contacts.length}} members
                </md-button> </div>
        </div>


          <!-- ADD CONTACT BUTTON --><md-button class="add-file-button md-fab md-warn inhead" ng-click="vm.AddUserDialog($event)" aria-label="Add file" translate="" translate-attr-aria-label="CONTACT.NEW">
            <md-icon md-font-icon="icon-plus"></md-icon>
          </md-button>
          <!-- / ADD CONTACT BUTTON  -->

   </header>
      <table class="userstable dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
        <thead>

        <tr>
          <th>

          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Name</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Company</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Job title</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Town/City</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Province</span>
            </div>
          </th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in vm.contacts" ng-click="vm.openDetailView(entry)">
          <td><img class="avatar" ng-src="{{entry.avatar}}"></td>
          <td>{{ entry.username }}</td>
          <td>{{ entry.company }}</td>
          <td>{{ entry.job }}</td>
          <td>{{ entry.location }}</td>
          <td>{{ entry.province }}</td>
          <td>
            <md-button class="add-file-button md-fab md-warn" ng-click="vm.DeleteUserDialog($event,$index)">
              <md-icon md-font-icon="icon-block-helper"></md-icon>
            </md-button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="about-sidebar detailbox" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="33">
    <div class="profile-box friends md-whiteframe-1dp white-bg" layout="column">
      <header class="md-accent-bg">
        <div class="title" translate="CONTACT.DETAIL" style="display: inline-block">Detail</div><md-icon id="edit-contact" ng-click="vm.editUserProfile($event)" md-font-icon="icon-pencil" style="cursor: pointer;float: right" class="ng-isolate-scope md-font icon-cog material-icons md-default-theme white-fg"></md-icon>
      </header>
      <md-card class="nowhiteframe" flex="25" ng-if="vm.selected !== false">
        <md-card-header>
          <md-card-avatar>
            <img class="avatar" ng-src="{{vm.selected.avatar}}">
          </md-card-avatar>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{vm.selected.username}}</span>
            <md-tabs md-dynamic-height="">
              <md-tab label="Personal Details">

                <div class="profile-box info-box personal" layout="column">

                  <div class="content">


                    <div class="info-line">
                      <div class="title" translate="PROFILE.FIRSTNAME">First Name</div>
                      <div class="info">{{vm.selected.username}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.username" placeholder="First Name" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.LASTNAME">Last Name</div>
                      <div class="info">{{vm.selected.lastname}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.lastname" placeholder="Last Name" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.JOB">Occupation</div>
                      <div class="info">{{vm.selected.job}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.job" placeholder="Occupation" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.STREET">Street</div>
                      <div class="info">{{vm.selected.street}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.street" placeholder="Street" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.ADDITION">Addition</div>
                      <div class="info">{{vm.selected.addition}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.addition" placeholder="Addition" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.POSTALCODE">Postal Code</div>
                      <div class="info">{{vm.selected.postalcode}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.postalcode" placeholder="Postal Code" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.LOCATIONS">Location</div>
                      <div class="info location">{{vm.selected.location}}
                      </div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.location" placeholder="Locations" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title">Province</div>
                      <div class="info location">{{vm.selected.province}}
                      </div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.province" placeholder="Locations" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.COUNTRY">Country</div>
                      <div class="info">{{vm.selected.country}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.country" placeholder="Country" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.TEL">Phone</div>
                      <div class="info">{{vm.selected.tel}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.tel" placeholder="Phone" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.FAX">Fax</div>
                      <div class="info">{{vm.selected.fax}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.fax" placeholder="Phone" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.MOBILE">Mobile</div>
                      <div class="info">{{vm.selected.mobile}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.mobile" placeholder="Phone" required="">
                      </md-input-container>

                    </div>
                  </div>
                </div>

                <md-button ng-if="vm.editContact !== false" class="md-raised md-accent" aria-label="Save" 
                ng-click="vm.UpdateUserDetail(vm.selected)">
                Save
                </md-button>
              </md-tab>


              <md-tab label="Company Details">
                <div class="profile-box info-box company" layout="column">

                  <div class="content">

                    <div class="info-line">
                      <div class="title" translate="PROFILE.COMPANY">Company</div>
                      <div class="info">{{vm.selected.company}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.selected.company" placeholder="Company" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.OCCUPATION">Business</div>
                      <div class="info">{{vm.occupation.selected}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <md-select ng-model="vm.occupation.selected" ng-change="vm.occupation.change(vm.occupation.selected)">
                          <md-option style="color: black !important;" ng-repeat="entry in vm.occupation.data">
                            {{entry.name}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.STREET">Street</div>
                      <div class="info">{{vm.about.work.street}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.street" placeholder="Street" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.ADDITION">Addition</div>
                      <div class="info">{{vm.about.work.addition}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.addition" placeholder="Addition" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.POSTALCODE">Postal Code</div>
                      <div class="info">{{vm.about.work.postalcode}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.postalcode" placeholder="Postal Code" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.LOCATIONS">Location</div>
                      <div class="info location">{{vm.about.work.location}}
                      </div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.location" placeholder="Locations" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title">Location</div>
                      <div class="info location">{{vm.about.work.province}}
                      </div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.location" placeholder="Locations" required="">
                      </md-input-container>
                    </div>

                    <div class="info-line">
                      <div class="title" translate="PROFILE.COUNTRY">Country</div>
                      <div class="info">{{vm.about.work.country}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.country" placeholder="Country" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.TEL">Phone</div>
                      <div class="info">{{vm.about.work.tel}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.tel" placeholder="Phone" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.FAX">Fax</div>
                      <div class="info">{{vm.about.work.fax}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.fax" placeholder="Phone" required="">
                      </md-input-container>
                    </div>
                    <div class="info-line">
                      <div class="title" translate="PROFILE.EMAIL">E-mail</div>
                      <div class="info">{{vm.about.work.email}}</div>
                      <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float="">
                        <input type="text" name="gender" ng-model="vm.about.work.email" placeholder="Phone" required="">
                      </md-input-container>
                    </div>
                  </div>
                </div>
    <md-button ng-if="vm.editContact !== false " type="" class="md-raised md-accent" aria-label="Save" 
                ng-click="vm.UpdateUserDetail(vm.selected)">
      Save
    </md-button>
              </md-tab>
            </md-tabs>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button ng-click="vm.DeleteUserDialog($event)">Delete</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="toggle">
              <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
          <h3>Remarks</h3>
          <text-angular ng-model="vm.selected.message"></text-angular>
        </md-card-content>
      </md-card>
    </div>
  </div>
  </div>